<div class="kontenKiri">

    <div class="row">
        <div class="col-md-6  no-padding" id="data-info">

            <div class="barcode">
              <img class="img-responsive" src="images/barcode.png">
            </div>
            <br>
            <h2>DETAIL KAPAL</h2>
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>NAMA KAPAL</th>
                            <td id="nama_kapal"></td>
                        </tr>
                        <tr>
                            <th>COLD STORAGE / UPI</th>
                            <td id="no_izin"></td>
                        </tr>
                        <tr>
                            <th>ALAT TANGKAP</th>
                            <td id="alat_tangkap"></td>
                        </tr>
                        <tr>
                            <th>PERUSAHAAN</th>
                            <td id="id_perusahaan"></td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <h2>DETAIL OPERATOR</h2>
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>KODE PELABUHAN</th>
                            <td id="nama_pic">JKT-978C</td>
                        </tr>
                        <tr>
                            <th>PELABUHAN</th>
                            <td id="nama_pic">TANJUNG PRIOK</td>
                        </tr>
                        <tr>
                            <th>NAMA PIC</th>
                            <td id="nama_pic">Abdul kohar</td>
                        </tr>
                        <tr>
                            <th>NIP</th>
                            <td id="nip">5456451254584-P</td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>

        <div class="col-md-6 no-padding">
            <!-- <h1>Berat Ikan</h1> -->
            <div class="reltimbang">
                <label><a href="http://localhost:3000/timbang">Timbangan (kg)</a></label>
                <h1 id="beratTimbangan">000</h1>
                <label>Nama Timbangan (<b id="nama_timbangan">-</b>)</label>
            </div>

            <h2>DETAIL TIMBANG</h2>
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>URUTAN</th>
                            <td id="nama_pic">11</td>
                        </tr>
                        <tr>
                            <th>FAKTOR KONVERSI A</th>
                            <td id="nama_pic">XXXXX</td>
                        </tr>
                        <tr>
                            <th>FAKTOR KONVERSI B</th>
                            <td id="nama_pic">XXXXX</td>
                        </tr>
                        <tr>
                            <th>NAMA IKAN</th>
                            <td id="nama_pic">IKAN TUNA</td>
                        </tr>
                        <tr>
                            <th>BERAT IKAN</th>
                            <td id="nama_pic">130kg</td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>

    </div>

</div>
