<div class="kontenKiri">

    <div class="row">

        <div class="col-md-6 no-padding">
            <h2>HISTORY KAPAL</h2>
            <div class="bs-component">
                <ul id="kapalList" class="list-group">
                    <li></li>

                </ul>
                <div class="btn btn-primary btn-xs" id="source-button" style="display: none;">&lt; &gt;</div>
            </div>
        </div>

        <div class="col-md-6 no-padding">
            <h2>HASIL TIMBANG</h2>
            <div id="listKapalTimbang" class="optiscroll">
                 <ul class="listKapalTimbang">

                     <li>

                     </li>
                 </ul>

            </div>
        </div>

    </div>

</div>
