<!DOCTYPE html>
<html>
  <head>
    <title>sadas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Tets</h1>
    <p>Welcome to Tets</p>

    <ul>
    <% data.forEach(function (x) { -%>
        <li><%= x.id %></li>
    <% }) -%>
    </ul>

  </body>
</html>
